@model Note
<div class="container px-4 mt-4">
    <h2 class="text-center text-uppercase fw-bold" style="letter-spacing: 3px;">
        Update Note
    </h2>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <form method="post">
            <div class="mb-3">
				<input type="hidden" name="id" value="@Model.Id"/>
                <input type="hidden" name="UserId" value="@Model.UserId"/>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control" value="@Model.title" />
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" id="content" class="form-control" rows="5">@Model.content</textarea>
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" name="tags" id="tags" class="form-control" value="@Model.tags" />
            </div>

            <div class="text-end">
                <input type="submit" value="Update Note" class="btn btn-primary px-4" />
				<a class="btn btn-secondary px-4" asp-action="Index">Back to Notes</a>
            </div>
        </form>
    </div>
</div>
